@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'mixins';

$datepicker-input-bg: $input-background;
$datepicker-zindex: 1000 !default;

.md-input-element {
  cursor: pointer !important;
}

date {
  display: block;
  
  // TODO delete
  position: relative;
}

.datepicker__input {
  position: relative;
  width: 100%;

  &[readonly] {
    cursor: pointer;
    background-color: $datepicker-input-bg;
  }
}

.datepicker {
  // TODO delete
  left: 0;
  top: 50px;

  position: absolute;
  z-index: $datepicker-zindex;
  width: 250px;
  background: #fff;
  font-size: 12px;
  color: #565a5c;
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  margin: {
    top: 4px;
  };
  padding: 0;
  @include m-shadow(2);
}  

// Controls
// 

.datepicker__controls {
  width: 250px;
  display: inline-block;
  padding: 5px 0 0 0;

  i {
    font-size: 25px;
    cursor: pointer;

    &.disabled {
      opacity: 0.12;
      cursor: default;
      pointer-events: none;
    }
  }

  > .left {
    width: 35px;
    display: inline-block;
    float: left;
    margin: 5px 0 0 3px;

    > i.prev-year-btn {
      float: left;
      display: block;
      font-size: 14px;
      opacity: 0.4;
    }

    > i.prev-month-btn {
      float: left;
      margin: -5px 0 0 9px;
      display: block;
    }
  }

  > span.date {
    width: 170px;
    text-align: center;
    font-size: 14px;
    color: #565a5c;
    font-weight: bold;
    float: left;
    padding: 3px 0 0 0;
  }

  > .right {
    width: 35px;
    display: inline-block;
    float: right;
    margin: 5px 0 0 0;

    > i.next-year-btn {
      float: left;
      display: block;
      font-size: 14px;
      opacity: 0.4;
    }

    > i.next-month-btn {
      float: left;
      margin: -6px 9px 0 0;
    }
  }
}

  
// Day Names
// 

.datepicker__day-names {
  width: 250px;
  border-bottom: 1px solid #c4c4c4;
  display: inline-block;

  > span {
    width: 35.7px;
    text-align: center;
    color: #82888a;
    float: left;
    display: block;
  }
}
  
// Calendar
// 

.datepicker__calendar {
  width: 255px;
  display: inline-block;
  margin: -3px 0 -3.5px -1px;
  padding: 0;
  
  >span {
    > span.day {
      width: 35px;
      height: 35px;
      // border-left: 1px solid #c4c4c4;
      // border-bottom: 1px solid #c4c4c4;
      float: left;
      display: block;
      color: #565a5c;
      text-align: center;
      font-weight: bold;
      line-height: 35px;
      margin: 0;
      padding: 0;
      font-size: 14px;
      cursor: pointer;

      &.disabled {
        // border-left: 1px solid transparent;
        cursor: default;
        pointer-events: none;
        color: rgba(0,0,0,.12);
      }

      &:hover {
        background: #2193b0;
        color: #fff;
      }

      &.selected {
        background: #186c81;
        cursor: default;
        pointer-events: none;
        color: #fff;
      }
    }

    &:last-child > span.day {
      // border-right: 1px solid #c4c4c4;
    }

    &:nth-child(7n) > span.day {
      border-right: none;
    }
  }
}

  
// Static
// 

.datepicker.static {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  .datepicker__controls {
    width: 100%;
    text-align: center;
    background-color: #eee;
    padding: 5px 0;

    > .left > i.prev-month-btn {
      margin-top: -6px;
    }

    > span.date {
      width: auto;
      float: none;
      display: inline-block;
      padding-top: 4px;
    }
  }

  .datepicker__day-names {
    width: 100%;
    background-color: #f9f9f9;

    > span {
      width: calc(100%/7);
    }
  }

  .datepicker__calendar {
    width: 100%;

    > span > span.day {
      width: calc(100%/7 - 1px);
      height: 50px;
      line-height: 50px;
    }
  }
}