md-input(
  [placeholder]="placeholder",
  [value]="viewValue",
  (click)="open($event)",
  disabled
)

.datepicker(
  *ngIf="isStatic || isOpened",
  [ngClass]="{ static: isStatic }"
)
  .datepicker__controls
    .left
      //- i.fa.fa-backward.prev-year-btn( (click)="prevYear()" ) 
      //-   | <<
      i.fa.fa-angle-left.prev-month-btn([class.disabled]="isFirstMonth", (click)="prevMonth()" ) 
      //- | <
    span.date
      {{ dateValue }}
    .right
      i.fa.fa-angle-right.next-month-btn([class.disabled]="isLastMonth", (click)="nextMonth()" )
      //- | >
      //- i.fa.fa-forward.next-year-btn( (click)="nextYear()" )
      //-   | >>

  .datepicker__day-names
    span( *ngFor="#dn of dayNames" )
      span {{ dn }}

  .datepicker__calendar
    span( *ngFor="#d of days; #i = index;" )
      span.day.disabled(*ngIf="!d.enabled")
        {{ d.day }}
      span.day( *ngIf="d.enabled", [ngClass]="{'selected': isSelected(d)}", (click)="selectDate($event, d)" )
        {{ d.day }}